page-share-modal {
  .artwork {
    margin-top: 15px;
    border-radius: 2%;
  }
  a {
    font-size: 2.6em;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
  }
  p {
    font-size: 2.6em;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  ion-icon {
    display: inline-block;
    font-size: 3.9em;
    margin-right: 0.6em;
  }
}
